@import 'http://fonts.googleapis.com/css?family=Roboto+Condensed';
@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);
$landing-page: 'https://static.pexels.com/photos/265152/pexels-photo-265152.jpeg';
$landing-Page1: 'https://static.pexels.com/photos/356056/pexels-photo-356056.jpeg';

$red: #ff5252;
$white: #fff;
$position-type: (1: absolute, 2: fixed, 3: relative);
$display: (1: block, 2: inline, 3: inline-block,4: none);
$fontSize: 4em;
$black: #000000;
$NestedGrey: #e7d5d5, #eff0cf, #f7f7f7, #e7d5d5;
$nestedBlue: #088da5, #4169e1, #088da5, #0080c0;
$zero: 0;